

body {
  font-family: 'monospace', monospace;
  height: 100%;
  margin: 0;
  padding: 0;
}

.button{
  color: white;
  padding: 16px 50px;
  display: inline-block;
  font-size: 16px;
  margin: 7px 15px;
  transition-duration: 0.6s;
  cursor: pointer;
  width:100%;
  border-color: black;
  border-radius:32px ;
}

.button1 ,.button2, .button3,.button4 ,.button5, .button6{ 
  background-color: #a40303;
  color: white;
  font-family: "Collegiateinsideflf";
  font-size: 20px;
}

.button1:hover ,.button2:hover,.button3:hover,.button4:hover ,.button5:hover,.button6:hover {

  border: 2px solid whitesmoke;
}

.center{
   position:absolute;
   top:40%;
   left:50%;
   transform:translate(-50%,-50%);
}
